In [30]:
import requests
import json
import pandas as pd
from io import StringIO

In [5]:
# read in with pandas
cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/' +
            'csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

In [70]:
cases.to_csv('us_confirmed.csv')

In [9]:
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/' +
                  'csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [10]:
deaths.to_csv('us_deaths.csv')

In [28]:
# read in with requests
raw = requests.get('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/' +
                   'csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')

In [31]:
text = StringIO(raw.text)

In [32]:
pd.read_csv(text)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,179,179,179,179,180,180,183,183,183,183
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,26,26,27,28,30,30,30,30,30,30
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,4620,4915,4985,5046,5185,5329,5352,5536,5690,5811
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,71,71,71,71,71,72,72,72,72,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,42,45,46,51,48,50,54,61,70,75
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,26,26,26,26,28,28,28,28,29,29
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,554,584,616,637,655,680,718,739,780,806
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,20,20,22,22,22,23,27,27,29,30
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,353,376,387,397,408,414,423,439,471,502

In [77]:
# explore data
list(df.columns)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20']

In [94]:
df.head(10)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,172,172,175,175,177,179,179,179,179,179
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,22,22,22,23,24,26,26,26,27,28
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,3718,3776,3873,3935,4023,4508,4620,4915,4985,5046
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,69,69,70,70,70,71,71,71,71,71
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,216,221,233,239,239,241,248,259,265,272
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,283,290,292,292,292,293,296,304,313,320
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,150,167,172,175,177,177,183,190,193,197
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,72,75,76,76,76,76,76,77,77,79
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,61,62,63,63,63,63,64,70,72,73

In [79]:
df.describe()

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20
count,3.261000e+03,3261.000000,3251.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,...,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000,3261.000000
mean,8.390341e+07,839.445569,32090.929560,37.165903,-89.160375,0.000307,0.000307,0.000613,0.000613,0.001533,...,542.828887,548.964121,555.357252,561.735971,567.776756,574.259430,581.839926,588.795155,596.027906,601.317694
std,3.288463e+06,18.068968,17825.153176,8.662455,21.547038,0.017512,0.017512,0.024761,0.024761,0.039133,...,4362.486870,4384.435564,4405.938374,4431.328908,4450.531719,4472.183787,4495.510568,4518.305812,4538.860824,4555.312384
min,1.600000e+01,16.000000,60.000000,-14.271000,-170.132000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401904e+07,840.000000,19038.000000,34.237321,-98.066628,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,7.000000,7.000000,7.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,8.403006e+07,840.000000,30045.000000,38.149014,-89.827411,0.000000,0.000000,0.000000,0.000000,0.000000,...,36.000000,37.000000,37.000000,38.000000,39.000000,39.000000,41.000000,42.000000,42.000000,44.000000
75%,8.404702e+07,840.000000,47010.000000,41.683301,-82.793570,0.000000,0.000000,0.000000,0.000000,0.000000,...,171.000000,173.000000,177.000000,181.000000,183.000000,185.000000,192.000000,196.000000,201.000000,203.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,202751.000000,203303.000000,203764.000000,204377.000000,204872.000000,205406.000000,205940.000000,206511.000000,206969.000000,207353.000000